/*https://www.quackit.com/css/functions/css_linear-gradient_function.cfm*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, orange, black);
    margin: auto;

}

header {
    background: black;
    height: 5em;

}

/* MENU BEGINT HIER */
ul {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5em;
    list-style-type: none;
    align-items: center;
    margin: 0;
}

li:first-child {
    flex-grow: 1;
    margin-left: -2.5em;
    /*This defines the ability for a flex item to grow if necessary.
    bron: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
}

li>a {
    text-decoration: none;
    font-size: 1em;
    padding: 4.1em 0.6em 0.6em 0.6em;
    color: white;

}

/*breedte van de img, aangeroepen tot eerste img van alle img in mijn HTML*/

li:nth-of-type(1) img {
    width: 6em;
}

/* MENU EINDIGT HIER */

h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    margin-top: 2.5em;

}



h3 {
    width: 40em;
    font-size: 16px;
    font-family: sans-serif;
    margin: 30px;
    display: inline-block;
    color: white;
}

h4 {

    font-size: 20px;
    font-family: sans-serif;
    margin: 40px;
    display: inline-block;

    color: #1DB954;
}

.container {
    position: relative;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.container img {
    width: 300px;
    height: auto;
    float: left;
    margin-right: 3em;
    display: block;
    margin: 0 auto;
}

/* tekst op de image */

.tekst {
    position: absolute;
    right: 60px;
    top: 100px;
    background-color: rgba(29, 185, 84, 0.699);
    border-radius: 50em;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    width: 20em;
    height: 4em;
    border: none;
    border-radius: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: #1DB954;
    margin-top: 3em;
    color: white;
}

@media (min-width:20em) {

    h1 {
        font-size: 35px;
        color: #1DB954
    }

    h3 {

        display: inline-block;
        font-size: 11px;

    }


    @media (min-width:75em) {

        h1 {

            font-size: 50px;
            text-align: left;
            margin: 2em;
            color: white;
        }

        #liedje2019 {

            float: left;
            margin: 2em;


        }

    }
}