/*https://www.quackit.com/css/functions/css_linear-gradient_function.cfm*/

body {
    font-family: arial;
    background: linear-gradient(to left, pink, orange);
    margin: auto;

}

header {
    background: black;
    height: 5em;
}

/* MENU BEGINT HIER */
ul {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5em;
    list-style-type: none;
    align-items: center;
    margin: 0;
}

li:first-child {
    flex-grow: 1;
    margin-left: -2.5em;
    /*This defines the ability for a flex item to grow if necessary.
    bron: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
}

li>a {
    text-decoration: none;
    font-size: 1em;
    padding: 4.1em 0.6em 0.6em 0.6em;
    color: white;

}

/*breedte van de img, aangeroepen tot eerste img van alle img in mijn HTML*/

li:nth-of-type(1) img {
    width: 6em;
}

/* MENU EINDIGT HIER */

h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    margin-top: 2.5em;
    cursor: pointer;
    animation-name: slidein;
    animation-duration: 5s;
}


h2 {
    color: hotpink;
    font-size: 3em;
    margin-left: 0.3em;
    text-align: center;
}

#ontdekken {

    height: 300px;
    margin-top: 25em;
    background-color: #cdf564;
    padding: 3em;

}

h3 {
    color: white;
    margin-left: 1em;
    margin-top: 3em;
    margin-bottom: 1em;
    display: block;
    text-align: center;
    font-size: 30px;

}

/* Logo draait 45º wanneer er op de banner wordt geklikt*/
.draaien {
    transform: rotate(45deg)
}

/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate*/

.intro {
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin-top: -2em;
}


/* Tekst op banner komt van rechts naar binnen geslide */
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations */


button:nth-of-type(1) {
    width: 20em;
    height: 4em;
    border: none;
    border-radius: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #1DB954;
    margin-top: 4em;
    color: white;
}

/* ALBUM COVERS */

#liedjeslijst {
    display: flex;
    flex-direction: column;
}

#liedjeslijst {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

#liedjeslijst article {
    position: relative;
}

#liedjeslijst img {
    display: block;
    width: 100%;
    object-fit: cover;
}

#liedjeslijst p {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%) scale(0) rotate(-720deg);
    margin: 0;
    padding: 1em;

    background-color: #ffffffcc;
    border-radius: 10em;
    text-align: center;

    opacity: 0;
    transition: opacity 1s, transform .75s cubic-bezier(0.250, 0.250, 0.505, 1.650);
}

/*transition van https://matthewlein.com/tools/ceaser
Mede dankzij Sanne 't Hooft voor uitleg :) */

#liedjeslijst article:hover p {
    transform: translate(-50%, -50%) scale(1) rotate(0);
    opacity: 1;
}

/* vanaf hier gaat de css over wat anders */


/* BANNER BUTTON */
#SpotifyFree {
    font-family: arial;
    width: 17em;
    height: 2em;
    border: none;
    border-radius: 8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #1DB954;
    margin-top: 4em;
    color: white;
    display: flex;
    padding-top: 1em;
    justify-content: center;
    text-decoration: none;

}

/* BANNER BUTTON EINDE*/

/* FORM BEGINT HIER */

input[type=text] {
    align-items: center;
    width: 70%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 15px;
    border: 2px solid hotpink;
    border-radius: 4px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#nieuwsbrief {

    margin: auto 1em;

}

form {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 15px;
    border: 2px solid hotpink;
    border-radius: 4px;
    display: block;
    margin-right: auto;
    margin-left: auto;


}

#nieuwsbrief button {
    background-color: hotpink;
}


form {

    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 5px;
    color: cornsilk;

}

fieldset legend {
    margin-bottom: 2em;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;

}

/* Inputvelden met behulp van w3schools*/

footer {
    background-color: black;
    color: white;
    height: 2px;
    margin-top: 1em;
    padding-bottom: 3em;
    padding-top: 1em;
    padding-right: 1em;
    text-align: right;
}

/* FORM EINDIGT HIER */

@media (min-width:20em) {

    #liedjeslijst img {
        width: 80%;
        display: block;
        margin: auto;



    }

    @media (min-width:40em) {

        h1 {
            color: hotpink;

        }

        #liedjeslijst {

            display: grid;
            max-width: 100vw;
            grid-template-columns: repeat(2, 1fr);


        }

        #liedjeslijst img {
            width: 70%;


        }

    }

    @media (min-width:75em) {

        #liedjes {

            display: grid;

        }

        #liedjeslijst {

            grid-template-columns: repeat(3, 1fr);

        }

        input[type=email],
        input[type=text] {

            width: 30%;

        }

        #liedjeslijst img {
            width: 100%;


        }
    }
}